@model Cloud.IU.WEB.InfraSructure.IEntity

<table>
    <tr>
        <td>
            <img src="@Model.Image" width="30" />
            <input type="hidden" id="@Model.Handler" value="@Model.Handler" />
        </td>

    </tr>
    <tr>
        <td style="max-width:50px;"><p> @Model.Titel </p></td>
    </tr>
</table>


          