<div class="machineElemen">
    @Html.DropDownList("zFlavorListDdl",
                                       ViewBag.zFlavorList as SelectList,
                                       "------------",
                                       new { @class = "machineDdl" })
</div>
