<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRepository" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8095/Repository.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRepository" contract="RepositoryService.IRepository"
                name="BasicHttpBinding_IRepository" />
        </client>
    </system.serviceModel>
</configuration>