<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>SayHelloToSomeOne</title>
<link href="../Design/Sites.css" rel="stylesheet" />
<script src="../Scripts/jquery-1.10.2.js"></script>
<script src="../../RunBridge.js"></script>
<script>
        //var Url = "../../../Services/GateWayService.svc/Execute_Method";
        var Url = "../../../Services/GateWayService.asmx/Execute_Method";
        var appname = "SayHelloRBS";
        var classname = "CodeBehind";
        var method = "SayHelloTo";
        var type = "POST";
        var datatype = "json";
        var contenttype = "application/json;charset=utf-8";
        var processData = false;
       

        $(document).ready(function () {
            
           


			$("#sendHello_btn").click(function(){
				var value = $("#name_txt").val();
				var param = [value];
				var file = $("#selectedFile");
				var pparam = [value];
				console.log(pparam);
				//callService(method,
				//			pparam);
				excute_Method(appname,
								classname,
								method,
								pparam,
								success,
								null,
								null);

				
			});
			
			function success(data)
			{
                       var  result = data.d;
                       $("#result").append(result);
                       
            }
            function callService(method , params)
            {
				console.log('calling Service Started . . . ');
               
			   var data = JSON.stringify({
                    AppName: appname,
                    ClassName: classname,
                    MethodName: method,
                    Params: params
                });
                $.ajax({
                    type: type, //GET or POST or PUT or DELETE verb
                    url: Url, // Location of the service
                    data: data, //Data sent to server
                    contentType: contenttype, // content type sent to server
                    dataType: datatype, //Expected data format from server
                    processdata: false, //True or Fal
                    success: function (data)
                    {
                       var  result = data.d;
                       $("#result").append(result);
                       
                    }
                    });
					
            }
        });
        function callService() {

            
            var data = JSON.stringify({
                AppName: appname,
                ClassName: classname,
                MethodName: method,
                Params: params
            });
            $.ajax({
                type: type, //GET or POST or PUT or DELETE verb
                url: Url, // Location of the service
                data: data, //Data sent to server
                contentType: contenttype, // content type sent to server
                dataType: datatype, //Expected data format from server
                processdata: false, //True or Fal
                success: function (data)
                {
                    
                }
            });
        }
        $(window).load(function () {
            $("#hresult").val(0);
            $("#result").val(0);
            //callService();
        });
    </script>
</head>

<body>
<center>
<div id="wrapper">
	<spam>Enter a Name :<spam/> 
	<input type="text" id="name_txt" name="name_txt"/><br/>
	<input type="button" value="press"  id="sendHello_btn" name="sendHello_btn"/>
        
	<div id="result"></div>
</div>
</center>
</body>

</html>
